<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Register For CTF</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/mycss.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
</head>
<body>
	<div id="particles-js"></div>
	<div id="page">
	<div id="head">
	<h1>CAPTURE THE FLAG</h1>
	<h3>Register Here</h3>
	<h4>*Required Field</h4>
	</div>
	<div id="form">
		<form method="post">
      {% csrf_token %}
			<div id="nampos">
			Name*:<input type="text" class="regname" name="name" placeholder="Full Name" required=""><br><br></div>
			<div id="branch">
			Branch*:<select name="branch" class="reg">
				<option value="CSE">CSE</option>
				<option value="IT">IT</option>
			</select>&nbsp&nbsp&nbspSection*:
			<select name="section" class="reg" required="">
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
				<option value="D">D</option></select>
            </div><br><br>
			<div id="y">
			Year*:<select name="year" class="regyear" required="">
				   <option value="2">2</option>
				   <option value="3">3</option></select>
			Roll No*:<input type="text" name="roll" class="reg" placeholder="Roll Number" required=""></div><br><br>
			<div id="mail">
			Email*:<input type="Email" name="email" class="regemail" placeholder="Email" required=""></div><br><br>
			<div id="phn">
			Phone No:<input type="text" name="Phone" class="reg" placeholder="Phone No."></div>
			<input type="submit" name="Register" class="btn" value="Register">

		</form></div>




	</div>






<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>



    <script  src="{% static "js/index.js" %}"></script>
</body>
</html>
